html, body{
    font-family: 'PT Serif', serif;
    margin: 0px;
	text-align: center;
}

/*----------header-------------*/

.top {
    font-size: 50px;;
    background-image: url(./img/TOP.jpg);
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 50px 0 20px 0;
    text-shadow: 3px 3px 1px white;
}

.header-wrapper {
	width:100%;
    height:60px;
    background-image: url(./img/スマホTOP2.jpg);
    background-size: cover;
    position: absolute;
}

.fixed {
    position:fixed;
	top:0;
	z-index: 10;
}

.header-wrapper ul {
	justify-content: center;
    display: inline-flex;
    line-height: 60px;
    margin: 0;
}

.header-wrapper li {
    list-style: none;
}

.list:hover {
    background-color: blue;
    color: white;
}

.header-wrapper a {
	text-decoration: none;
	font-size:20px;
    color:black;
    display: block;
    padding: 0 50px;
}

/*-------------自己紹介------------*/
.introduction {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:70px;
}


.icon {
    border-radius: 50%;
    margin-top: 90px;
    width: 25%;
    height: 25%;
    margin-right: 30px;
}

.about {
    width: 40%;
}

.greeting p{
    font-size: 20px;
    line-height: 40px;
}

.black {
    font-weight: bold;
}

.red {
    color:red;
    font-weight: bold;
}

.about-me h1{
    margin-top: 40px;
    padding: 0;
}

li {
    list-style: none;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.education {
    padding-bottom: 50px;
}


/*---------------サービス---------------*/

.service {
    background-image: url(./img/空.jpg);
    background-size:cover;
    margin-top: 50px;
}

.service h1 {
    padding-top: 50px;
    margin-bottom: 50px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.picture {
    width: 300px;
}

.content {
    margin: 0 auto;
    width: 30%;

}

.title {
    font-size: 20px;
    border-bottom: 1px solid #000;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    margin: 0 auto;
}

.ps {
    padding-bottom: 40px;
    padding-top: 20px;
    margin: 0;
}

.ps a {
    color: black;

}

/*---------------制作実績---------------*/
.works {
    background-image: url(./img/leaves-5725356_1280.png);
    background-color:rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
    padding-bottom: 40px;
}

.work-content {
    display: flex;
    width: 70%;
    font-size: 20px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.img {
    position: relative;
}

.img a { /*カード全体をリンクにするCSS*/
    position: absolute;
    top: 0;
    left: 3;
    height:100%;
    width: 90%;
}

.work{
    width: 50%;

}

.work ul{
    display: block;
    margin-top:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.work li {
    text-align:left;
}

.img img {
    width: 90%;
    margin: 0;
    padding: 0;
}

.works a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

/*お問い合わせ*/
#contact {
    width: 100%;
    background-color: #FAFAFA;
}

.googlelink {
    display: inline-block;
    padding: 8px 30px;
    text-decoration: none;
    border: 1px;
    background: #5e5;;
    color: #fff;
    box-shadow: 0px 2px 4px #575;
    opacity: 0.9;
    position: relative;
}

.googlelink:hover{
    opacity: 1.0;
}

.googlelink:active{
    box-shadow: none;
    position: relative;
    top:4px;
}

.back {
    margin-top: 70px;
}

/*コピーライト*/
footer{
    margin: 0;
}

/*レスポンシブ         タブレット-------------------------------------------------------*/
@media (max-width:1400px) {
h1{
    font-size: 70px;
}

.icon {
    width: 350px;
    margin: 70px 0 0 0 ;
}
.about{
    width: 80%;
}

.greeting h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.greeting p{
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
}

.about-me h1{
    margin-top: 70px;
    padding: 0;
    font-size: 40px;
}

li {
    list-style: none;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 17px;
}
.service h1{
    font-size: 40px;
}
.content{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.explain {
    margin: 0 auto;
    width: 94%;
}
.works h1{
    font-size: 40px;
}
.work{

    margin: 20px;
}

.work-content img{
    width: 350px;
}

.img {
    position: relative;
}

.img a { /*カード全体をリンクにするCSS*/
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
}
}

/*スマホ------------------------------------------------------*/
@media (max-width:760px){
    h1{
        font-size: 50px;
    }

    .top {
        background-image: url(./img/空のコピー.jpg);
    }

.header-wrapper {
    background-image: url(./img/スマホTOP2.jpg);
    height: 30px;
}

.header-wrapper ul{
    padding-left: 0;
}

    .header-wrapper a {
        font-size: 12px;
        padding: 0 10px;
        line-height:30px;
    }


.icon {
    width: 50%;
    margin:0 ;
}
.about {
    width: 90%;
}
.greeting h1{
    font-size: 30px;
}

.greeting p{
    font-size: 16px;
}
.about-me{
    width: 100%;
}

.about-me h1{
    font-size: 30px;
}

.name {
    font-size: 12px;
}
.service h1{
    font-size: 30px;
    margin-bottom: 0;
}

.content {
    width: 80%;
}
.content img{
    width: 80%;
}
.explain {
    width: 100%;
}

.works h1{
    font-size: 30px;
}

.work-content{
    flex-wrap: wrap;
    width: 100%;
}

.work{
    margin: 0 20px;
    font-size: 16px;
    padding-bottom: 20px;
}

.work-content img{
    width: 90%;
}

.img {
    position: relative;
}

.img a { /*カード全体をリンクにするCSS*/
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
}

.back {
    font-size: 14px;
}

footer{
    font-size: 12px;
}
}

#contact h1{
    font-size: 30px;
}